.header{
  display: flex;;
  justify-content: space-around;
  align-items: center;
  background-color: blue;
  height: 50px;
}

.header a{
  text-decoration: none;
  color: snow;
  font-size: 25px;
}

.header a[class=active]{
  color: red;
}
