<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false"
                        *ngFor="let car of cars">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{car.brand}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      <div>id: {{car.id}}</div>
      <div>brand: {{car.brand}}</div>
      <div>price: {{car.price}}</div>
      <div>year: {{car.year}}</div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
